.avatar {
  width: 30px;
  border-radius: 50%;
}
.avatar-large {
  width: 50px;
  border-radius: 50%;
}
.avatar-bordered-bg {
  width: 130px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: grey 1px solid;
}
.avatar-rounded {
  width: 55px;
  box-shadow: 0 1px 2px rgba(255,255,255,0.2);
  border-radius: 50%;
  margin-right: 20px;
  border: #8f564d 2px solid;
}
