/* Your card CSS code here */
.card {
  background-size: cover;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 10px;
  height: 300px;
  width: 100%;
  margin: 10px;
  display: flex;
}

.card-title {
  display: flex;
  justify-content: space-around;
  position: absolute;
}

.card-company {
  color: black;
  position: absolute;
  top: 25px;
  left: 100px;
  border: 5px;
  padding: 8px;
  flex: 1 0 auto;
  font-size: 30px;
  font-weight: bold;
}

.card-logo {
  position: absolute;
  top: 10px;
  left: -25px;
  border: 5px;
  padding: 8px;
  flex: 0 0 30%;
}


.card-description {
  color: grey;
  position: absolute;
  bottom: 3px;
  left: 3px;
  border: 5px;
  padding: 8px;
  flex: 1 0 auto;
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
}
