/* Your card CSS code here */

.card-container {
  min-height: 400px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 12px;
  display: flex;
  position: relative;
  justify-content: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: white;
}

.card-left {
  margin: 5px;
  padding: 5px;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.card-logo {
  width: 150px;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  // border: grey 1px solid;
}

.card-subtitle {
  position: relative;
  text-align: center;
  h2 {
    font-size: 17px;
    font-weight: bold;
    margin: 3px 0;
  }
  p {
    font-size: 15px;
    margin: 8px;
  };
}

.card-right {
  margin: 5px;
  padding: 5px;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-company {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1,5px;
}

.card-title {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
  width: 100%;
  h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
  };
}




.card-description {
  color: grey;
  position: absolute;
  top: 90px;
  left: 3px;
  border: 5px;
  flex: 1 0 auto;
  margin: auto;
  height: 100%;
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
}
