@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

$bs: 0 2px 4px rgba(0, 0, 0, .10), 0 4px 6px rgba(0, 0, 0, .12);
$trans: all 0.3s ease;


.form__container {
  background: #fff;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 32px;
  box-shadow: $bs;
  border-radius: 4px;
}

@media(max-width:767px){
  .form__container {
    margin: 0;
    padding: 16px;
  }
}


