.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  left: 0;
  display: flex;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  align-items: center;
  justify-content: space-between;
  background-color: $black;
  right: 0;
  margin-top: 5px;
  padding: 1rem;
}

.social-links {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 10px;
  a {
    transition: all 0.5s ease;
    text-decoration: none;
    color: #A6A6A6;
    font-size: 30px;
    padding-right: 20px;
    padding-left: 20px;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.text-footer {
  color: #A6A6A6;
  font-size: 15px;
  margin: 0 10px;
  i {
    color: $brand-color;
  }
}

.linkedin {
  :hover{
    color: #0077b5;
  }
}

.github {
  :hover {
    color: #3F4347;
  }
}

.facebook {
  :hover {
    color: #3b5998;
  }
}

.twitter {
  :hover {
    color: #1da1f2;
  }
}
