/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.bg-footer {
  background: black;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

.link_wagon {
  font-size: 10px;
  text-decoration: none;
  a {
    color: black;
    text-decoration: none;
    -webkit-transition: 0.2s;
  }
  :hover {
    -webkit-transition: 0.2s;
    background-color: $red;
    color: #ffffff;
    padding: 8px 6px;
    border-radius: 5px;
    padding: 12px;
    margin: 0 3px;
  }
}
