
<div class="footer">
  <ul class="list-inline">
    <li class="footer_social">
      <a href="https://www.facebook.com/profile.php?id=610974604&fref=ts" target="_blank" class="fa fa-facebook-square" >
      </a>
    </li>
    <li class="footer_social">
      <a href="#" target="_blank" class="fa fa-linkedin-square">
        <i ></i>
      </a>
    </li>
    <li class="footer_social">
      <a href="#" target="_blank" class="fa fa-twitter-square">
        <i ></i>
      </a>
    </li>
    <li class="footer_social">
      <a href="#" target="_blank" class="fa fa-youtube-square">
        <i ></i>
      </a>
    </li>
  </ul>
</div>
