
<div class="footer">
  <!-- <ul class="list-inline social"> -->
    <div class="footer_linkedin">
      <a href="https://www.linkedin.com/in/erwannddlv" target="_blank" class="fa fa-linkedin-square">
      </a>
    </div>
    <div class="footer_github">
      <a href="https://github.com/ErwannDDLV" target="_blank" class="fa fa-github-square">
      </a>
    </div>
    <div class="footer_facebook">
      <a href="https://www.facebook.com/ededieuleveult" target="_blank" class="fa fa-facebook-square" >
      </a>
    </div>
    <div class="footer_twitter">
      <a href="https://twitter.com/ErwannDDLV" target="_blank" class="fa fa-twitter-square">
      </a>
    </div>
    <!-- <li class="footer_youtube">
      <a href="https://www.youtube.com/channel/UCgsnryZKitDlARGdh3Inv6Q" target="_blank" class="fa fa-youtube-square">
        <i ></i>
      </a>
    </li>
    <li class="footer_spotify">
      <a href="https://open.spotify.com/user/erwannddlv" target="_blank" class="fa fa-spotify">
        <i ></i>
      </a>
    </li> -->
  <!-- </ul> -->
</div>
