<div class="navbar-wagon">
  <!-- Logo -->
  <img src="images/ProfilWagon.png" class="avatar-square ">

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <%= link_to 'Acceuil', '/', class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Text link -->
    <%= link_to 'Mon CV', 'resume.html', class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Text link -->
    <%= link_to 'A propos', 'a_propos.html', class: "navbar-wagon-item navbar-wagon-link" %>


    <!-- Notification link-->
    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="badge badge-blue">3</div>
      </div>
    </a> -->

    <!-- Profile picture and dropdown -->

    <div class="navbar-wagon-item">
      <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="/">Accueil</a></li>
          <li><a href="resume.html">Mon CV</a></li>
          <li><a href="a_propos.html">A propos</a></li>
        </ul>
      </div>
    </div>

    <!-- Button (call-to-action) -->
    <!-- <a href="" class="navbar-wagon-item navbar-wagon-button btn">Post stuff</a> -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/">Accueil</a></li>
          <li><a href="resume.html">Mon CV</a></li>
          <li><a href="a_propos.html">A propos</a></li>
      </ul>
    </div>
  </div>
</div>
