---
title: A Propos
title_reverse: true
---

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-sm-7 col-xs-12">
      <h1 style="text-align: center;"> A propos de moi ?</h1>
      <p>Aaaah que dire...</p>
      <p>Issu d'une famille Normande d'origine et Bretonne de coeur, je fais partie d'une longue lignée de DIEULEVEULT</p>
      <p>Après une scolarité ..</p>
      <%= lorem.paragraphs 8 %>
    </div>

    <div class="col-lg-3 col-sm-5 col-xs-12">

      <iframe src="https://embed.spotify.com/follow/1/?uri=spotify:user:erwannddlv&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
    </div>
  </div>
</div>



