---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>Welcome to Middleman</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div>

<div>
  My resume

  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

  <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="fr_FR" data-type="horizontal" data-theme="light" data-vanity="erwannddlv"><a class="LI-simple-link" href='https://fr.linkedin.com/in/erwannddlv?trk=profile-badge'>Erwann de Dieuleveult</a></div>

</div>
