  <div class="banner">

      <div class="welcome text-center padded">
        <h1 style="margin-bottom:22px;">Bienvenue sur mon profil en ligne</h1>
        <p>Voilà donc mon premier projet après 9 semaines</p>
        <p class="link_wagon"><%= link_to "@ Le Wagon Bordeaux", 'http://www.lewagon.com'%>
        </p>
        <p>J'ai démarré ce site le 15 mars 2017, jour de l'anniversaire de ma femme !</p>
        <%= link_to 'Viens voir', 'a_propos.html', class: "btn btn-primary btn-lg" %>
      </div>

  </div>

