<div class="banner">
<!--   <img src="images/Hoguette.jpg"> -->
  <div class="banner-content">
    <div class="welcome text-center padded">
      <h1>Welcome to My Online Profil</h1>
      <p>It's my first alone project after 9 weeks <%= link_to "@ Le Wagon Bordeaux", 'http://www.lewagon.com' %>
      </p>
      <p>I just started it ! We are 2017, March the 15th and it's my wife's Birthday !</p>
      <a class="btn btn-primary btn-lg">GET IT</a>
    </div>
  </div>
</div>
