---
title: Accueil
title_reverse: true
---

<div class="banner">
  <div class="padded">
    <h1 style="margin-bottom:50px;">Bienvenue sur mon profil en ligne</h1>
    <p>Voilà donc mon premier projet après 9 semaines</p>
    <p class="link_wagon"><%= link_to "@ Le Wagon Bordeaux", 'http://www.lewagon.com'%>
    </p>
    <p>J'ai démarré ce site le 15 mars 2017, jour de l'anniversaire de ma femme !</p>
    <%= link_to 'Entrez', 'a_propos.html', class: "btn btn-mine btn-lg" %>
  </div>
</div>

