<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div>
        My resume
      </div>
      <div>
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="fr_FR" data-type="horizontal" data-theme="light" data-vanity="erwannddlv">
          <a class="LI-simple-link" href='https://fr.linkedin.com/in/erwannddlv?trk=profile-badge'>
            Erwann de Dieuleveult
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div>
        My resume
      </div>
      <div>
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="fr_FR" data-type="horizontal" data-theme="light" data-vanity="erwannddlv">
          <a class="LI-simple-link" href='https://fr.linkedin.com/in/erwannddlv?trk=profile-badge'>
            Erwann de Dieuleveult
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <div>
        My resume
      </div>
      <div>
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="fr_FR" data-type="horizontal" data-theme="light" data-vanity="erwannddlv">
          <a class="LI-simple-link" href='https://fr.linkedin.com/in/erwannddlv?trk=profile-badge'>
            Erwann de Dieuleveult
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
