---
title: Merci
title_reverse: true
---

<div class="banner">
  <div class="welcome text-center padded">
    <h1 style="margin-bottom:22px;">Merci, je reviens vers vous très rapidement</h1>
    <%= link_to 'Retour', 'index.html', class: "btn btn-mine" %>
  </div>
</div>


